.arrivals {
    padding: 120px 0 143px 0;
}
.arrivals__inner {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.arrivals__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.06em;
    text-align: left;
    text-transform: uppercase;
}
.arrivals__header {
    max-width: 410px;
    position: relative;
    z-index: 2;
}
.arrivals__header::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    z-index: -1;
    width: 190px;
    height: 32px;
    background-image: url('../../Assets/img/icons/categories-figure.svg');
}